<html>
  <head>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/bootstrap.min.css">
    <link href="assets/css/gallery.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  </head>
  <body>   
    <header>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="box">
                    <a href="./index.html"><img id="logo" src="assets/img/logo/logo-alterra-academy.png" width="125px"/></a>    
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="box">
                    <nav>
                        <ul>
                            <li><a href="./index.html">ABOUT</a></li>
                            <li><a class="active" href="#">GALLERY</a></li>
                            <li><a href="./3-1-1-contact-us.html" target="_blank">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <div class="kop">
        <div class="icon">
        <img src="assets/img/ico/ico-gallery.png"></img><h2>GALLERY</h2>
        </div>
        <hr />
    </div>
    
    <div id="gambar">
        <div class="row 1">
            <div class="col-md-4 col-sm-6" style="padding: 0;">
                <div class="ke-1">
                </div>
            </div>
            <div class="col-md-4 col-sm-6"style="padding: 0;">
                <div class="ke-2">
                </div>
            </div>
            <div class="col-md-4 col-sm-6"style="padding: 0;">
                <div class="ke-3">
                </div>
            </div>
        </div>
        <div class="row 2">
            <div class="col-md-4 col-sm-6"style="padding: 0;">
                <div class="ke-4">
                </div>
            </div>
            <div class="col-md-4 col-sm-6"style="padding: 0;">
                <div class="ke-5">
                </div>
            </div>
            <div class="col-md-4 col-sm-6"style="padding: 0;">
                <div class="ke-6">
                </div>
            </div>
        </div>    
    </div>
    <!-- <h3>asem</h3>
    <h1>ASOLOLE</h1> -->
    <footer>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="box">
                    <a class="logo" href="#"><img id="logo" src="assets/img/logo/logo-alterra-academy-plain@2x.png" width="125px"/></a>
                    <h5 class="copyright">&copy; Copyright Alterra Group 2019</h5>    
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="box">
                    <br>
                    <ul>
                        <li><h2 id="contact" class="nav-follow" href="#">Follow us On</h2></li>
                        <li><a class="nav-link" href="#"><span><img src="assets/img/ico/ico-facebook.png"></span> Facebook</a></li>
                        <li><a class="nav-link" href="#"><span><img src="assets/img/ico/ico-twitter.png"></span> Twitter</a></li>
                        <li><a class="nav-link" href="#"><span><img src="assets/img/ico/ico-instagram.png"></span> Instagram</a></li>
                    </ul>     
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>